.registerForm{
    /* padding: 50px; */
    margin: auto;
    margin-top: 15px;
    width: 40%;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}
form h1 {
    font-size: 27px;
}
label {
    margin-top: 10px;
}
input {
    margin-top: 5px;
    border: 1px solid rgb(218, 209, 209);
    border-radius: 5px;
}

.enviar {
    color: white;
    background-color: black;
    margin-top: 20px;
}


.text-danger {
    color: red;
    font-size: 12px;
    font-weight: bold;
}

.is-invalid{
    border-color: red;
}